#snakeGameContainer {
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  .snake-main-container {
    width: 610px;
    height: 520px;
    position: relative;
    // margin-right: 50px;
    border: 5px solid #757575;
    border-radius: 3px;
    background-color: #1d501d;
  }

  .controls {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(46, 46, 46, 0.5);

    .fa-play {
      display: none;
    }

    .paused {
      .fa-play {
        display: inline-block;
      }

      .fa-redo {
        display: none;
      }
    }
  }

  #mouse {
    position: absolute;
    background-color: #e49c3f;
    border-radius: 100%;
    // box-shadow: 0px 0px 3px 6px #996521;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    @keyframes glow {
      from {
        box-shadow: none;
      }
      to {
        box-shadow: 0px 0px 6px 10px #91444a;
      }
    }
  }

  #gameScore {
    font-size: 100px;
  }

  #smouse {
    position: absolute;
    background-color: #6b2d32;
    top: 653px;
    left: 725px;
    width: 15px;
    height: 15px;
  }

  #snakeMain {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.8s linear;

    .snake-head {
      width: 15px;
      height: 15px;
      // border-radius: 100%;
      background-color: #d63c63;
    }
  }

  .snake-body {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 15px;
    height: 15px;
    background-color: #ac1f42;

    &:first-child {
      background-color: #d63c63;
      left: 35px;
      // top: 50%;
    }

    &:nth-child(3) {
      background-color: #d63c63;
      left: 50%;
      top: 50%;
    }
  }

  .game-status {
    color: #ffffff;
    font-size: 24px;
  }
}
